{% include "navbar.html" %}
{% load static %}
{% block body %}
<div class="container-fluid">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/1.png' %}" alt="My image" style="width: 100%; height:  450px;">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/1.png' %}" alt="My image" style="width: 100%; height:  450px;">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/1.png' %}" alt="My image" style="width: 100%; height:  450px;">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>  
</div>
<hr>
<div class="container" style="padding: 0;">  <div class="card" style="max-width: 100%;">  <div class="card-body">
      <h2 class="card-title text-center">Contact us</h2>
      <hr>
      <div class="container py-5">

        <form action="contact" method="POST">
          {% csrf_token %} 
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name.." required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"placeholder="Your Email.." required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Phone No</label>
            <input type="number" class="form-control" id="number" name="number" aria-describedby="numberHelp"placeholder="Your Phone No.." required>
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" name="message" rows="3"placeholder="Your Message.." required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<hr>

{% endblock  %}
{% include "footer.html" %}