{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
  <footer class="footer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">  <div class="footer-container">
      <div class="footer-content">
        <h5 class="texte-center">Afzal Sultan</h5>
        <ul class="social-media-links">
          <a href="facebook.com/profile.php?id=61551448512116&mibextid=9R9pXO"><i class="fab fa-facebook-f"></i></a>
          <a href="soundcloud.com/hafizafzalsultan"><i class="fab fa-soundcloud"></i></a>
          <a href="tiktok.com/@hafizafzalsultanofficial?lang=en"><i class="fab fa-tiktok"></i></a>
          <a href="https://www.youtube.com/c/HafizAfzalSultanOfficial"><i class="fab fa-youtube"></i></a>
       
      <a href="mailto:afzalsultan23@gmail.com"><i class="fas fa-envelope"></i></a>
      <a href="tel:+964777777777"><i class="fas fa-phone"></i> </a>
    </ul>
      </div>
      <div class="footer-copyright">
        <h5>&copy; 2024 @DeepAi SmartCoders. All rights reserved. <a href="mailto:wajidulhaq44@gmail.com"><i class="fas fa-envelope"></i></a></h5>
       
      
      </div>
    </div>
  </footer>
  
  
      
      
</body>
</html>