{% extends 'base.html' %}
{% block body %}
{% load static %}
<nav class=" navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo.png' %}" alt="My image"class="img-fluid rounded-circle mx-auto d-block" style="width: 80px; height: 80px;">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><b>HOME</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about"><b>ABOUT</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact"><b>CONTACT</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="video"><b>NASHEEDS</b></a>
          </li>
      </div>
    </div>
  </nav>

{% endblock %}