{% include "navbar.html" %}
{% load static %}
{% block body %}
<div class="container">
    <hr>
<h1 class="text-center">Afzal Sultan Nasheeds</h1>
<hr>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for obj in objects %}
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ obj.Name }}</h5>
            <h5 class="card-title">{{ obj.title }}</h5>

            <p class="card-text">{{ obj.description }}</p>
            <div class="ratio ratio-16x9">  <video width="320" height="240" controls>  <source src="{{ obj.file }}" type="video/mp4">  Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock  %}

